<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="container">
		<p><a href="/auth/fitbit" class="btn">Sign in with FitBit</a></p>
	</div>
</body>
</html>